@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 400;
  src: url(../font/ms_sans_serif.woff) format("woff");
  /*src: url(../font/ms_sans_serif.woff2) format("woff2");*/
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 700;
  src: url(../font/ms_sans_serif_bold.woff) format("woff");
  /*src: url(../../font/ms_sans_serif_bold.woff2) format("woff2");*/
}

:root{
  --msGrey: #c0c0c0;
  --msButtonOut: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --msButtonIn: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
}

#copyMixer{
  text-align: center;
  padding: 5px 0;
  background: lightblue;
  user-select: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}

textarea{
  background: #333;
  border: none;
  resize: none;
  outline: none;
}
.CodeMirror{
  width: 100% !important;
  max-width: 100% !important;
}

#editorContainer{
  font-family: 'Pixelated MS Sans Serif', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #404040;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

#editorContainer h1, #CSSBoxWrapper h1{
  position: relative;
  color: #FFFFFF;
  text-align: center;
  padding: 0 !important;
  margin: 5px 0 !important;
  font-size: 20px;
  font-weight: normal;
}

#previewContainer{
  width: 70%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  position: absolute;
  padding-left: 4px;
  right: 0;
  background-color: transparent;
}

#resizer{
  height: 100vh;
  width: 5px;
  background: lightblue;
  cursor:e-resize;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  z-index: 2;
}

.hideAfter::after {
  display: none !important;
}
#optionsBar{
  background: #333333;
  height: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 5px 30px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
#updateBar{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background: #606060;
}
#updateBar ul{
  list-style: none;
  text-decoration: none;
}
#updateBar li{
  line-height: 25px;
}
#updateBar li:first-child{
  font-size: 25px;
  color: #FFFFFF;
}
#updateButton{
  color: lightgreen;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  margin: 7px 0;
}
#updateButton:hover{
  color: #FFFFFF
}

#optionsBar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;

}
#optionsBar li{
  font-size: 15px;
  border: 1px solid transparent;
  transition: .3s;
  margin: 3px 0;
}


#contentBoxesWrapper{
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  overflow-y: auto;
  padding: 0 0 0 10px;
}
#cssBoxWrapper{
  height: auto;
  width: 100%;
  /*border-bottom: 3px solid #FFFFFF;*/
  padding: 0 0 10px 0;
}

#cssBoxWrapper{
  width: 96%;
}

#cssResize {
  width: 96%;
  height: 5px;
  background: white;
  cursor:n-resize;
}

#detailsBoxesWrapper{
  
  display: block;
  height: auto;
  width: 100%;
  overflow-y: auto;
  padding: 0 20px 0 0;
  margin: 10px 0 0 0;
}

#detailsBoxesWrapper::-webkit-scrollbar{
  width: 6px;
}

#detailsBoxesWrapper::-webkit-scrollbar-track{
  border-radius: 0px;
  background: #BBB;
}

#detailsBoxesWrapper::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background: #222;
}

#detailsBoxesWrapper::-webkit-scrollbar-thumb:hover{
  background: #CCC;
}


.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(50,50,50,0.9);
  z-index: 10;
  transition: .2s;
  top: -9999px;
}
.popup iframe{
  width: 80%;
  height: 90vh;
  border: 2px solid white;
}

.button{
  position: absolute;
  bottom: 4vh;
  background: #DDDDDD;
  color: #333333;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #FFFFFF;
  user-select: none;
  cursor: pointer;
}

.button:hover{
  background: #FFFFFF;
  color: #333333;
}
.copyButton{
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  text-shadow: 0 0 #222;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  font-size: 14px;
}
.copyButton::after{
  content: 'copy';
}
.copyButton:hover{
  
}
.copyButton:active{
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
}

#paneSizeButton{
  height: 25px;
  font-size: 20px;
  z-index: 2;
  margin: 0 0 0 5px;
  background: #333;
  color: #FFF;
}

.highlight {
  outline: 2px solid red;
}

#flexsettingsButton{
  margin: 0 12px;
  cursor: pointer;
  color: lightgreen;
  width: 20px;
}
#flexsettingsButton:hover{
  color: white;
}

#updateBar ul li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.previewCard{
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: auto;
  background: #333333;
  padding: 10px;
  border: 1px solid #BBB;
  border-radius: 0px;
  z-index: -5;
  color: #FFF;
  font-size: 15px;
}

#previewsettingsButton li{
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  text-align: left;
}

#previewsettingsButton input{
  width: 20px;
  margin: 5px;
}
#previewsettingsButton ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#previewsettingsButton li:first-child{
  justify-content: center !important;
  width: 100%;
  
}
#previewsettingsButton li:nth-child(2){
  border-bottom: 1px solid #FFF;
  width: 100%;
  margin: 5px 0;
}


#themeMixer{
  position: absolute;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  background: #333;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 5px 0px;
  box-shadow: 2px 2px 5px rgba(50,50,50,0.9);
}

#themeMixer p{
  color: #FFF;
  padding: 5px 0px;
}

#themeMixerButton{
  text-align: center;
  padding: 5px 0;
  background: lightgreen;
  user-select: none;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

#themeMixer input {
  width: 200px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
  font-size: 20px;
  font-weight: normal;
  box-sizing: border-box;
}

.square .clr-field button,
.circle .clr-field button {
  width: 22px;
  height: 12px;
  left: 5px;
  right: auto;
  border-radius: 5px;
}

.square .clr-field input,
.circle .clr-field input {
  padding-left: 36px;
}

.circle .clr-field button {
  border-radius: 50%;
}

.full .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.CodeMirror pre{
  box-shadow: none;
}
















