@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
}

#themeMixer{
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
}


#themeMixerButton{
  text-align: center;
  padding: 5px 0;
  background: lightgreen;
  user-select: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}

#copyMixer{
  text-align: center;
  padding: 5px 0;
  background: lightblue;
  user-select: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}

textarea{
  background: #333;
  border: none;
  resize: none;
  outline: none;
}
.CodeMirror{
  width: 100% !important;
  max-width: 100% !important;
}

#editorContainer{
  font-family: 'Teko', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333;
  width: 30%;
  height: 100vh;
  overflow: hidden;
}

#editorContainer h1, #CSSBoxWrapper h1{
  position: relative;
  color: #DDDDDD;
  text-align: center;
}

#previewContainer{
  width: 70%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  position: absolute;
  padding-left: 4px;
  right: 0;
  background-color: transparent;
}

#previewContainer:after {
  display: flex;
  content: " ";
  background-color: lightblue;
  position: absolute;
  left: 0;
  width: 4px;
  height: 400%;
  cursor: w-resize;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.hideAfter::after {
  display: none !important;
}
#optionsBar{
  background: #333333;
  height: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 5px 30px;
  color: #FFFFFF;
}
#updateBar{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background: #444444;
}
#updateBar ul{
  list-style: none;
  text-decoration: none;
}
#updateBar li{
  line-height: 25px;
}
#updateBar li:first-child{
  font-size: 19px;
  color: #FFFFFF;
}
#updateBar li:last-child p{
  color: lightgreen;
  font-size: 35px;
  cursor: pointer;
}
#updateBar li:last-child p:hover{
  color: #FFFFFF;
}
#optionsBar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style: none;

}
#optionsBar li{
  font-size: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px 5px;
  transition: .3s;
  margin: 3px 0;
}
#optionsBar li:hover{
  border: 1px solid #FFFFFF;

  transition: .3s;
}

#contentBoxesWrapper{
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  overflow-y: auto;
  padding: 0 0 0 10px;
}
#cssBoxWrapper{
  height: auto;
  width: 100%;
  border-bottom: 3px solid #FFFFFF;
  padding: 0 0 10px 0;
}

#cssBoxWrapper{
  width: 96%;
}

#detailsBoxesWrapper{
  display: block;
  height: auto;
  width: 100%;
  overflow-y: auto;
  padding: 0 20px 0 0;
  margin: 10px 0 0 0;
}

#detailsBoxesWrapper::-webkit-scrollbar{
  width: 6px;
}

#detailsBoxesWrapper::-webkit-scrollbar-track{
  border-radius: 0px;
  background: #BBB;
}

#detailsBoxesWrapper::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background: #222;
}

#detailsBoxesWrapper::-webkit-scrollbar-thumb:hover{
  background: #CCC;
}


.popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(50,50,50,0.9);
  z-index: 10;
  transition: .2s;
  top: -9999px;
}
.popup iframe{
  width: 60%;
  height: 80vh;
  border: 2px solid white;
}

.button{
  position: absolute;
  bottom: 8.5vh;
  background: #DDDDDD;
  color: #333333;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #FFFFFF;
  user-select: none;
  cursor: pointer;
}

.button:hover{
  background: #FFFFFF;
  color: #333333;
}
.copyButton{
  font-size: 15px;
  position: absolute;
  right: 0;
  padding: 5px 8px;
  border: 1px solid #FFFFFF;
  margin: 5px 0 0 10px;
  cursor: pointer;
  background: #444444;
  color: #DDDDDD;
}
.copyButton::after{
  content: 'copy';
}
.copyButton:hover{
  background: #777777;
}
.copyButton:active{
  background: #222222;
}

#paneSizeButton{
  height: 25px;
  font-size: 20px;
  z-index: 2;
  margin: 0 0 0 5px;
  background: #333;
  color: #FFF;
}

.highlight {
  outline: 2px solid red;
}