* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: auto;
  outline: none;
}

body {
  overflow: hidden;
}

#previewContainer{
  display: flex;
  max-height: 100vh;
  width: 75%;
  overflow-y: auto;
}
#SpaceHeyPreview {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

#customizeContainer {
  float: left;
  font-family: sans-serif;
  color: #DDD;
  display: inline-block;
  width: 25%;
  height: 100vh;
  background: #333333;
  border-right: 6px solid #DDD;
}

#contentContainer::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;
}

#contentContainer::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: #BBB;
  border-radius: 0px;
}

#contentContainer::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0px;
}

#contentContainer::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: #CCC;
}

.inputWrapper{
  width: 90%;
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.topBar h3{
  width: 100%;
  text-align: center;
}
.topBar button{
  width: 50px;
  background: #555;
  border: 2px solid black;;
  border-radius: 5px;
  cursor: pointer;
  color: #FFF;
  padding: 3px;
}
.topBar button:hover{
  background: #777;
}
.topBar button:active{
  background: #222;
}
#customizeContainer h3, #customizeContainer h2 {
  padding: 10px 8px;

}
#cssContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

#cssBox {
  display: flex;
  width: 100%;
}

textarea{
  border-radius: 5px;
  font-size: 16px;
}

textarea:hover{
  background: #FFF;
}

#cssBox textarea {
  background: #111111;
  color: #BBB;
  font-family: monospace;
  margin: 0 auto;
  width: 85%;
  height: 20vh;
  resize: none;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 63vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#contentContainer textarea {
  background: #111111;
  color: #BBB;
  font-family: monospace;
  margin: 0 auto;
  width: 100%;
  height: 23vh;
  resize: none;
  direction: ltr;
}

.seperator {
  border-top: 6px solid #CCC;
  margin: 10px 0;
}

.contentInput {
  height: 600px;
}

.toolbarWrapper{
  display: block;
  width: 100%;
  height: auto;
}
#toolbar{
  text-align: center;
  background: #333;
  border-bottom: 3px solid #DDD;
}
#toolbar li{
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  font-family: sans-serif;
  color: #DDD;
  font-weight: bold;
}
#toolbar li p{
  cursor: pointer;
}
#toolbar li{
  width: 49%;
  color: #FFF;
}

#toolbar li:last-child{
  color: lightblue;
}

#toolbar li:last-child::before{
  content: "(Alt + S)";
  color: #DDD;
  font-size: 11px;
};

#CSSTitle{
  width: 100%;
  text-align: center;
}

#CSSTitle h3{
  display: inline-block;
  padding: 0;
  margin: 0;
}

#CSSPop{
  color: yellow;
  cursor: pointer;
}

.popupContainer{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: -9999px;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  transition: .2s;
  filter: opacity(0%);
}

.popup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(80,80,80,.95);
  border: 2px solid #000;
  width: 500px;
  height: auto;
  border-radius: 20px;
  font-family: sans-serif;
}

.popupContent{
  text-align: center;
  color: #FFF;
}
.popupContent h2{
  padding: 15px 0 0 0;
}
.popupContent p{
  padding: 10px;
}
#gotitButton{
  margin: 10px;
  font-size: 18px;
  padding: 3px;
  background: #DDDDDD;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#gotitButton:hover{
  background: #FFFFFF;
}
#gotitButton:active{
  background: #CCCCCC;
}

#quickCSS{
  width: 550px;
}
#quickCSSWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 40vh;
}

#CSSOptions{
  position: relative;
  color: #FFF;
  padding: 0  20px 0 0;
  margin: 20px 0 0 0;
  overflow-y: auto;
  width: 50%;
}
#CSSOptions li{
  list-style: none;
  text-align: left;
  padding: 5px 0 5px 0;
  margin: 5px 0 0 0;
  border-bottom: 2px solid #FFF;
}
#CSSOptions  li:last-child{
  margin: 10px 0 20px 0;
}
#CSSOptions li p{
  cursor: pointer;
}
#CSSOutput{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0;
}
#CSSOutput .topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 20px 10px 0;
}
#CSSOutput textarea{
  width: 100%;
  height: 30%;
  resize: none;
  background: #333;
  color: #FFF;
}
